<html>
<head>
  <title>Ultimate Sorry</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sorry.css') }}">
</head>
<body>
  <div id="setup" style="width:50%;margin:auto;">
    <center>
    <h1>About Ultimate Sorry</h1>
    </center>
    <a href="/">Back to Home</a>
    <h2>Making of Ultimate Sorry</h2>
    <p>Sorry is a fantastic board game. Over the years it has become my go to game for friend and family gatherings. I often wondered how much of Sorry was luck vs skill. I built a Sorry simulator in python that can play thousands of games in a few milliseconds. The program can test various stategies, rule changes, and view the impact on the game. Then I built a web server to allow a single board position to be analyzed. If you are ever wondering what might be the best move in a Sorry game the move analyzer will help (or confuse) you.</p>
    <p>You can provide feedback or see my other projects on my website <a href="https://www.williamschaller.com">WilliamSchaller.com</a></p>
</div>
</body>
</html>