<html>
<head>
  <title>Ultimate Sorry</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sorry.css') }}">
  <script src="{{ url_for('static',filename='js/sorry.js') }}"></script>
</head>
<body>
  <center>
  <div id="setup">
    <h1>Ultimate Sorry</h1>
    <a href="#">How this Works</a><br />
    <a href="#">About Sorry</a><br />
    <a href="#">About this Website</a><br /><br />
    <table class="board">
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="0"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="1">></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="2">-</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="3">-</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="4">o</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="5"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="6"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="7"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="8"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="9">></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="10">-</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="11">-</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="12">-</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="13">o</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="14"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="15"></div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="59"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="yellowSafeSpace" onclick="selectPlace(this.id)" id="ys1"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="yellow" onclick="selectPlace(this.id)" id="ys">0</div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="16">v</div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="58">o</div></td>
        <td><div class="empty"></div></td>
        <td><div class="yellowSafeSpace" onclick="selectPlace(this.id)" id="ys2"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="green" onclick="selectPlace(this.id)" id="gh">0</div></td>
        <td><div class="greenSafeSpace" onclick="selectPlace(this.id)" id="gs5"></div></td>
        <td><div class="greenSafeSpace" onclick="selectPlace(this.id)" id="gs4"></div></td>
        <td><div class="greenSafeSpace" onclick="selectPlace(this.id)" id="gs3"></div></td>
        <td><div class="greenSafeSpace" onclick="selectPlace(this.id)" id="gs2"></div></td>
        <td><div class="greenSafeSpace" onclick="selectPlace(this.id)" id="gs1"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="17">|</div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="57">|</div></td>
        <td><div class="empty"></div></td>
        <td><div class="yellowSafeSpace" onclick="selectPlace(this.id)" id="ys3"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="18">|</div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="56">|</div></td>
        <td><div class="empty"></div></td>
        <td><div class="yellowSafeSpace" onclick="selectPlace(this.id)" id="ys4"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="green" onclick="selectPlace(this.id)" id="gs">0</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="19">o</div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="55">|</div></td>
        <td><div class="empty"></div></td>
        <td><div class="yellowSafeSpace" onclick="selectPlace(this.id)" id="ys5"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="20"></div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="54">^</div></td>
        <td><div class="empty"></div></td>
        <td><div class="yellow" onclick="selectPlace(this.id)" id="yh">0</div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="21"></div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="53"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty">S</div></td>
        <td><div class="empty">O</div></td>
        <td><div class="empty">R</div></td>
        <td><div class="empty">R</div></td>
        <td><div class="empty">Y</div></td>
        <td><div class="empty">!</div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="22"></div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="52"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="23"></div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="51"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="blue" onclick="selectPlace(this.id)" id="bh">0</div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="24">v</div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="50"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="blueSafeSpace" onclick="selectPlace(this.id)" id="bs5"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="25">|</div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="49">o</div></td>
        <td><div class="red" onclick="selectPlace(this.id)" id="rs">0</div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="blueSafeSpace" onclick="selectPlace(this.id)" id="bs4"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="26">|</div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="48">|</div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="blueSafeSpace" onclick="selectPlace(this.id)" id="bs3"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="27">|</div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="47">|</div></td>
        <td><div class="redSafeSpace" onclick="selectPlace(this.id)" id="rs1"></div></td>
        <td><div class="redSafeSpace" onclick="selectPlace(this.id)" id="rs2"></div></td>
        <td><div class="redSafeSpace" onclick="selectPlace(this.id)" id="rs3"></div></td>
        <td><div class="redSafeSpace" onclick="selectPlace(this.id)" id="rs4"></div></td>
        <td><div class="redSafeSpace" onclick="selectPlace(this.id)" id="rs5"></div></td>
        <td><div class="red" onclick="selectPlace(this.id)" id="rh">0</div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="blueSafeSpace" onclick="selectPlace(this.id)" id="bs2"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="28">o</div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="46">^</div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="blue" onclick="selectPlace(this.id)" id="bs">0</div></td>
        <td><div class="empty"></div></td>
        <td><div class="blueSafeSpace" onclick="selectPlace(this.id)" id="bs1"></div></td>
        <td><div class="empty"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="29"></div></td>
      </tr>
      <tr>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="45"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="44"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="43">o</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="42">-</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="41">-</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="40">-</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="39"><</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="38"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="37"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="36"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="35"></div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="34">o</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="33">-</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="32">-</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="31"><</div></td>
        <td><div class="emptySpace" onclick="selectPlace(this.id)" id="30"></div></td>
      </tr>
    <table>
    <h3>Click the spaces above to setup the board.</h3>
    <div>
      <p>It is <select id="currentPlayerSelect">
      <option value="Y">Yellow's</option>
      <option value="G">Green's</option>
      <option value="B">Blue's</option>
      <option value="R">Red's</option>
      </select> turn playing the <select id="currentCardSelect">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="4">5</option>
      <option value="4">4</option>
      <option value="4">7</option>
      <option value="4">8</option>
      <option value="4">10</option>
      <option value="4">11</option>
      <option value="Sorry">Sorry</option>
      </select> card.</p><br />
    </div>
    <div id="metadata" style="display:none;"></div>
    <div id="errors" style="color:red;"></div>
    <div id="go"><button type="button" disabled onclick=\"analyzeBoard()\">Analyze</button></div>
  </div>
<hr />
</center>
<h3 id="results"></h3>
<div id="possibleStates">
</div>
</body>
</html>